
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row rowtop">
    <div class="col-md-12">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title">Reset Password</h3>
            </div>
            <div class="card-body">
                <div class="col-md-6">
                    <form class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" value="@User.Identity!.Name" id="UserName" />
                        <div class="form-group row">
                            <label class="control-label col-md-4 text-md-right text-sm-left">Old Password</label>
                            <div class="col-md-8">
                                <input id="OldPassword" type="password" class="form-control" placeholder="old password" />
                                @*<label id="lblOldPassword"></label>*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-4 text-md-right text-sm-left">New Password</label>
                            <div class="col-md-8">
                                <input id="NewPassword" name="NewPassword" type="password" class="form-control" placeholder="new password" />
                                @*<label id="lblNewPassword"></label>*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-4 text-md-right text-sm-left">Confirm Password</label>
                            <div class="col-md-8">
                                <input id="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control" placeholder="confirm password" />
                                @*<label id="lblConfirmPassword"></label>*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-4 col-md-8">
                                <input type="button" id="btnSubmit" value="Reset Password" class="btn btn-warning" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/security/resetpassword.js"></script>
    <script></script>
}

