body, html {
    height: 100%;
    background-repeat: no-repeat; /*background-image: linear-gradient(rgb(12, 97, 33),rgb(104, 145, 162));*/
    background: grey;
    position: relative;
}

#login-box {
    position: absolute;
    left: 50%;
    top: 15% !important;
    min-width: 350px;
    transform: translateX(-50%);
    z-index: 9999;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    top: 0px;
    z-index: 1;
}
