
@{
    ViewData["Title"] = "ErrorLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" id="voucherList">
    <div class="card-header">
        Voucher Error Log
    </div>
    <div class="card-body">
        <table id="mTable" class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>GL Code</th>
                    <th>GL Description</th>
                    <th>Acc-Code</th>
                    <th>Details</th>
                    <th>Voucher Type</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
