html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
    .btnBelow {
        margin-top:6px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.brand-link:hover {
    color:blue;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tblheader {
    background-color: #b3b3ff;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.card-header > .card-tools {
    float: left !important;
}
.card-title {
    padding-left: 15px !important;
    padding-top: 4px !important;
    float: left !important;
}
.page-item.active .page-link {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
    background-color: #28a745 !important;
}
@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    #printSection, #printSection * {
        visibility: visible;
    }

    #printSection {
        position: absolute;
        left: 0;
        top: 0;
    }
}
